<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <button @click="show = !show">点我啊</button>
  <h1 v-if="show">
    看到我了  if
  </h1>
  <h1 v-else>
    看不到我
  </h1>
  <h1 v-show="show">
    看到我了  show
  </h1>
  <input type="text" v-model="num"/>
  <h1 v-if="num>=90">优秀</h1>
  <h1 v-else-if="num>=80">良好</h1>
  <h1 v-else-if="num>=70">一般</h1>
  <h1 v-else-if="num>=60">及格</h1>
  <h1 v-else>要加油了</h1>
  <div v-bind:class="{activeClass:isActive}"></div><!--hasError为false  class不用activeClass值  true则用activeClass值-->
  <div v-bind:class="errorClass"></div>
  <div v-bind:style="[baseStyles,overridingStyles]">钱钱钱钱钱</div>
  <!--    <div v-bind:class="baseStyles">钱钱钱钱钱11</div>-->
  <div v-bind:style="{color: color}">钱钱钱钱钱222</div>
  <div :style="{color: color}">钱钱钱钱钱333</div>
  您的生日是：{{
  new Date(birthday).getFullYear()+'-'+new Date(birthday).getMonth()+'-'+new Date(birthday).getDate()
  }}<br/>
  您的生日是：{{birth}} <!-- 找 vue对象中的 birth-->
  <br/>
  <input type="text" v-model="message"/>
</div>
</body>
<script src="node_modules/vue/dist/vue.js"></script><!--引入vue.js-->
<script>
  var app = new Vue({
    el:"#app",
    data:{
      show:true,
      num:70,
      activeClass: 'active',
      errorClass: ['text-danger', 'text-error'],
      isActive:true,
      hasError:false,
      baseStyles: {'background-color': 'red'},
      overridingStyles: {border: '5px solid black',width:200+'px',height:50+'px'},
      color:'green',
      birthday:1429032123201, // 毫秒值
      message:"1111"
    },
    computed:{//定义 计算得到的属性值
      birth(){
        const d = new Date(this.birthday);
        return d.getFullYear()+"-"+d.getMonth()+"-"+d.getDate()
      }
    },
    watch:{
      message(newValue,oldValue){// 监视message值的改变
        console.log(newValue+","+oldValue);
      }
    }

  });
</script>
</html>